body {
    background-color: #f0f4c3;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    border: solid black 1px;
}

.table1, .table2 {
    border: solid black 1px;
    border-collapse: collapse;
    width: 30%;
}

.table1 tr th, .table1 tr td {
    border: solid black 1px;
}

.table2 tr th, .table2 tr td {
    border: solid black 1px;
    text-align: center;
}